@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-color:#003770 ;
    background-image: url("Imagens usadas/background_body.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}
header{
 padding: 23px;
}
#check{
    padding-top: 0px;
position: absolute;
right: 25px;
    }
nav{
    font-size: 13px;
    color: white;
    background-color: #ec6608;
    padding-left: 23px;
    padding-bottom: 15px;
}
nav h2, img{
    display: inline-block;
}
nav h2{
    padding-top: 10px;
}

main{
    font-size: 13px;
    text-align: center;
    margin: 10px;
}
main section{
    font-weight: 100;
    padding: 13px;
    text-align: left;
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: white;
}
main div{
    align:center;
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 20px;
    color: white;

}
#contratacao{
    margin: auto;
    margin-top: 60px;
   background-color: #ec6608;
}
#consultor{
    margin: auto;
    margin-top: 10px;
    background-color: #37bb84;
}
main h3, img{
    display: inline-block;
}
main img{
    float: right;
    height: 25px;
    width: 25px;
}
footer{
    padding: 5px;
    color: white;
    text-align: center;
    background-color: #003770;
}
footer a{
    color: white;
}
