@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
a{
    color: white;
    text-decoration: none;
}
body{
    
    background-image: url("Imagens usadas/background_body.png");
    background-size: auto;
    background-repeat: no-repeat;
    
}
header{
    background-color:#003770;
    padding: 23px;
}
header #check{
    display: block;
    float: right;
    }
nav{
    color: white;
    background-color: #ec6608;
    padding: 10px;
    padding-left: 23px;
}

main{
    
    text-align: center;
    margin: 10px;
}
main section{
    padding: 13px;
    text-align: left;
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: white;
}
main div{
    align:center;
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 20px;
    color: white;

}
#contratacao{
    margin: 10px;
   background-color: #ec6608;
}
#consultor{
    margin: 10px;
    background-color: #37bb84;
}
main h3, img{
    display: inline-block;
}
main img{
    float: right;
    height: 25px;
    width: 25px;
}
footer{
    padding: 5px;
    color: white;
    text-align: center;
    background-color: #003770;
}
footer a{
    color: white;
}
